In [1]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook. 
# If you get an error here, make sure that mysql and pymysql are installed correctly. 

%load_ext sql

In [2]:
# Establish a connection to the local database using the '%sql' magic command.
# Replace 'password' with our connection password and `db_name` with our database name. 
# If you get an error here, please make sure the database name or password is correct.

%sql mysql+pymysql://root:SecureP%40sw0rd%21123@localhost:3306/united_nations

In [3]:
%%sql

SELECT
    *
FROM
    Access_to_Basic_Services
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/united_nations
5 rows affected.

[('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2015, Decimal('94.67'), Decimal('98.00'), Decimal('17.542806'), Decimal('184.39'), Decimal('2699700.00')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2016, Decimal('94.67'), Decimal('98.00'), Decimal('17.794055'), Decimal('137.28'), Decimal('2699700.00')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2017, Decimal('95.00'), Decimal('98.00'), Decimal('18.037776'), Decimal('166.81'), Decimal('2699700.00')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2018, Decimal('95.00'), Decimal('98.00'), Decimal('18.276452'), Decimal('179.34'), Decimal('2699700.00')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2019, Decimal('95.00'), Decimal('98.00'), Decimal('18.513673'), Decimal('181.67'), Decimal('2699700.00'))]

## 1. What is the minimum, maximum, and average percentage of people that have access to managed drinking water services per region and sub_region?

In [4]:
%%sql 

select 
    Region, Sub_region,
    max(Pct_managed_drinking_water_services) as max_Pct_managed_drinking_water_services,
    min(Pct_managed_drinking_water_services) as min_Pct_managed_drinking_water_services,
    avg(Pct_managed_drinking_water_services) as avg_Pct_managed_drinking_water_services
from
    Access_to_Basic_Services
group by
    Region, Sub_region

 * mysql+pymysql://root:***@localhost:3306/united_nations
20 rows affected.

[('Central and Southern Asia', 'Central Asia', Decimal('100.00'), Decimal('80.33'), Decimal('93.144667')),
 ('Central and Southern Asia', 'Southern Asia', Decimal('99.67'), Decimal('67.00'), Decimal('91.894074')),
 ('Eastern and South-Eastern Asia', 'Eastern Asia', Decimal('100.00'), Decimal('75.67'), Decimal('92.699667')),
 ('Eastern and South-Eastern Asia', 'South-Eastern Asia', Decimal('100.00'), Decimal('73.33'), Decimal('90.626061')),
 ('Europe and Northern America', 'Northern America', Decimal('100.00'), Decimal('91.00'), Decimal('97.911333')),
 ('Latin America and the Caribbean', 'Caribbean', Decimal('100.00'), Decimal('64.00'), Decimal('96.005000')),
 ('Latin America and the Caribbean', 'Central America', Decimal('100.00'), Decimal('79.00'), Decimal('93.798125')),
 ('Latin America and the Caribbean', 'South America', Decimal('100.00'), Decimal('86.00'), Decimal('94.880952')),
 ('Northern Africa and Western Asia', 'Northern Africa', Decimal('100.00'), Decimal('61.33'), Decimal('88.906111')),
 ('Northern Africa and Western Asia', 'Western Asia', Decimal('100.00'), Decimal('59.00'), Decimal('95.031204')),
 ('Oceania', 'Australia and New Zealand', Decimal('100.00'), Decimal('100.00'), Decimal('100.000000')),
 ('Oceania', 'Melanesia', Decimal('99.00'), Decimal('53.67'), Decimal('82.700333')),
 ('Oceania', 'Micronesia', Decimal('100.00'), Decimal('73.67'), Decimal('93.414634')),
 ('Oceania', 'Polynesia', Decimal('100.00'), Decimal('91.00'), Decimal('98.506481')),
 ('Sub-Saharan Africa', 'Eastern Africa', Decimal('100.00'), Decimal('46.33'), Decimal('70.128421')),
 ('Sub-Saharan Africa', 'Middle Africa', Decimal('77.33'), Decimal('38.33'), Decimal('58.967059')),
 ('Sub-Saharan Africa', 'Southern Africa', Decimal('92.00'), Decimal('73.33'), Decimal('82.645000')),
 ('Sub-Saharan Africa', 'Western Africa', Decimal('99.00'), Decimal('53.33'), Decimal('72.365686')),
 ('Egypt', 'Minya', None, None, None),
 ('amrica', 'lose anglose', None, None, None)]

In [11]:
%%sql 

delete from 
    Access_to_Basic_Services 
where 
    Region in ("Egypt", "amrica");

 * mysql+pymysql://root:***@localhost:3306/united_nations
0 rows affected.

[]

## 2. What is the total number of countries within each region and sub_region?

In [16]:
%%sql

select 
    Region, Sub_region,
    count(distinct Country_name) as "total_country"
from 
    Access_to_Basic_Services
group by
    Region, Sub_region

 * mysql+pymysql://root:***@localhost:3306/united_nations
18 rows affected.

[('Central and Southern Asia', 'Central Asia', 5),
 ('Central and Southern Asia', 'Southern Asia', 9),
 ('Eastern and South-Eastern Asia', 'Eastern Asia', 5),
 ('Eastern and South-Eastern Asia', 'South-Eastern Asia', 11),
 ('Europe and Northern America', 'Northern America', 5),
 ('Latin America and the Caribbean', 'Caribbean', 27),
 ('Latin America and the Caribbean', 'Central America', 8),
 ('Latin America and the Caribbean', 'South America', 14),
 ('Northern Africa and Western Asia', 'Northern Africa', 6),
 ('Northern Africa and Western Asia', 'Western Asia', 18),
 ('Oceania', 'Australia and New Zealand', 2),
 ('Oceania', 'Melanesia', 5),
 ('Oceania', 'Micronesia', 7),
 ('Oceania', 'Polynesia', 9),
 ('Sub-Saharan Africa', 'Eastern Africa', 20),
 ('Sub-Saharan Africa', 'Middle Africa', 9),
 ('Sub-Saharan Africa', 'Southern Africa', 5),
 ('Sub-Saharan Africa', 'Western Africa', 17)]

## 3. What is the total GDP for each region and sub_region?

In [13]:
%%sql

select
    Region, 
    Sub_region,
    sum(Est_gdp_in_billions) as "total GDP"
from 
    Access_to_Basic_Services
group by 
    Region, Sub_region

 * mysql+pymysql://root:***@localhost:3306/united_nations
18 rows affected.

[('Central and Southern Asia', 'Central Asia', Decimal('1670.32')),
 ('Central and Southern Asia', 'Southern Asia', Decimal('19824.66')),
 ('Eastern and South-Eastern Asia', 'Eastern Asia', Decimal('107123.37')),
 ('Eastern and South-Eastern Asia', 'South-Eastern Asia', Decimal('15563.18')),
 ('Europe and Northern America', 'Northern America', Decimal('9905.96')),
 ('Latin America and the Caribbean', 'Caribbean', Decimal('2070.17')),
 ('Latin America and the Caribbean', 'Central America', Decimal('8524.66')),
 ('Latin America and the Caribbean', 'South America', Decimal('19959.58')),
 ('Northern Africa and Western Asia', 'Northern Africa', Decimal('2736.80')),
 ('Northern Africa and Western Asia', 'Western Asia', Decimal('13605.83')),
 ('Oceania', 'Australia and New Zealand', Decimal('9241.73')),
 ('Oceania', 'Melanesia', Decimal('237.87')),
 ('Oceania', 'Micronesia', Decimal('46.92')),
 ('Oceania', 'Polynesia', Decimal('46.76')),
 ('Sub-Saharan Africa', 'Eastern Africa', Decimal('1944.61')),
 ('Sub-Saharan Africa', 'Middle Africa', Decimal('837.34')),
 ('Sub-Saharan Africa', 'Southern Africa', Decimal('2386.64')),
 ('Sub-Saharan Africa', 'Western Africa', Decimal('3621.31'))]

In [17]:
%%sql

SELECT Region,
    Sub_region,
    MIN(Pct_managed_drinking_water_services) AS min_Pct_managed_drinking_water_services,
    MAX(Pct_managed_drinking_water_services) AS max_Pct_managed_drinking_water_services,
    AVG(Pct_managed_drinking_water_services) AS avg_Pct_managed_drinking_water_services,
    COUNT(DISTINCT(Country_name)) AS Number_of_countries,
    SUM(EST_gdp_in_billions) AS EST_total_gdp_in_billions
FROM united_nations.Access_to_Basic_Services
GROUP BY Region, Sub_region;

 * mysql+pymysql://root:***@localhost:3306/united_nations
18 rows affected.

[('Central and Southern Asia', 'Central Asia', Decimal('80.33'), Decimal('100.00'), Decimal('93.144667'), 5, Decimal('1670.32')),
 ('Central and Southern Asia', 'Southern Asia', Decimal('67.00'), Decimal('99.67'), Decimal('91.894074'), 9, Decimal('19824.66')),
 ('Eastern and South-Eastern Asia', 'Eastern Asia', Decimal('75.67'), Decimal('100.00'), Decimal('92.699667'), 5, Decimal('107123.37')),
 ('Eastern and South-Eastern Asia', 'South-Eastern Asia', Decimal('73.33'), Decimal('100.00'), Decimal('90.626061'), 11, Decimal('15563.18')),
 ('Europe and Northern America', 'Northern America', Decimal('91.00'), Decimal('100.00'), Decimal('97.911333'), 5, Decimal('9905.96')),
 ('Latin America and the Caribbean', 'Caribbean', Decimal('64.00'), Decimal('100.00'), Decimal('96.005000'), 27, Decimal('2070.17')),
 ('Latin America and the Caribbean', 'Central America', Decimal('79.00'), Decimal('100.00'), Decimal('93.798125'), 8, Decimal('8524.66')),
 ('Latin America and the Caribbean', 'South America', Decimal('86.00'), Decimal('100.00'), Decimal('94.880952'), 14, Decimal('19959.58')),
 ('Northern Africa and Western Asia', 'Northern Africa', Decimal('61.33'), Decimal('100.00'), Decimal('88.906111'), 6, Decimal('2736.80')),
 ('Northern Africa and Western Asia', 'Western Asia', Decimal('59.00'), Decimal('100.00'), Decimal('95.031204'), 18, Decimal('13605.83')),
 ('Oceania', 'Australia and New Zealand', Decimal('100.00'), Decimal('100.00'), Decimal('100.000000'), 2, Decimal('9241.73')),
 ('Oceania', 'Melanesia', Decimal('53.67'), Decimal('99.00'), Decimal('82.700333'), 5, Decimal('237.87')),
 ('Oceania', 'Micronesia', Decimal('73.67'), Decimal('100.00'), Decimal('93.414634'), 7, Decimal('46.92')),
 ('Oceania', 'Polynesia', Decimal('91.00'), Decimal('100.00'), Decimal('98.506481'), 9, Decimal('46.76')),
 ('Sub-Saharan Africa', 'Eastern Africa', Decimal('46.33'), Decimal('100.00'), Decimal('70.128421'), 20, Decimal('1944.61')),
 ('Sub-Saharan Africa', 'Middle Africa', Decimal('38.33'), Decimal('77.33'), Decimal('58.967059'), 9, Decimal('837.34')),
 ('Sub-Saharan Africa', 'Southern Africa', Decimal('73.33'), Decimal('92.00'), Decimal('82.645000'), 5, Decimal('2386.64')),
 ('Sub-Saharan Africa', 'Western Africa', Decimal('53.33'), Decimal('99.00'), Decimal('72.365686'), 17, Decimal('3621.31'))]